@font-face {
    font-family: 'LucidaGrande-Bold';
    src: url('~/Fonts/LucidaGrandeBold.ttf') format('truetype'),
}
.graybg {
    background-color:#f7f7f7;
}

#topbar {
    width: 1000px;
    height: 72px;
    
}

#bg {
    width: 1000px;
    height: 72px;
    background: #ffffff;
}

#menu {
    width: 438px;
    height: 36px;
}

#women {
    width: 62.83px;
    height: 36px;
    color: #2e2e2e !important;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
    
}

#men {
    width: 34.15px;
    height: 36px;
    color: #2e2e2e;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
}

#kids {
    width: 33.96px;
    height: 36px;
    color: #2e2e2e;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
}

#shoes {
    width: 47.19px;
    height: 36px;
    color: #2e2e2e;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
}

#brands {
    width: 55.9px;
    height: 36px;
    color: #2e2e2e;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
}

#sHOPMATE {
    width: 176.77px;
    height: 29px;
    color: #f62f5e;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 4px;
}

#icons {
    width: 83px;
    height: 34px;
}

#iconssearc {
    width: 20px;
    height: 20px;
}

#bounds {
    width: 20px;
    height: 20px;
}

#line {
    width: 4px;
    height: 4px;
    border: solid #2e2e2e
}

#oval {
    width: 12px;
    height: 12px;
    border: solid #2e2e2e
}

#iconsbagbl {
    width: 20px;
    height: 20px;
}

#bounds {
    width: 20px;
    height: 20px;
}

#path {
    width: 15.97px;
    height: 10px;
    border: solid #2e2e2e
}

#path {
    width: 8px;
    height: 8.01px;
    border: solid #2e2e2e
}

#controlsnu {
    width: 24px;
    height: 27px;
}

#bg {
    width: 24px;
    height: 24px;
    background: #f62f5e;
}

#a {
    width: 10.19px;
    height: 24px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.nav-item {
    padding-left:4em;
}

#hero1 {
    
    height: 480px;
}



.salebackground {
   
    
    background: #00d3ca;
    margin:1.5em;
}

#badgesgree {
    width: 57px;
    height: 27px;
    margin-top:2.5em !important ;

}



.fullwidth {
    width:90%;
    
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

#sALE {
    width: 42.86px;
    height: 24px;
    color: #ffffff !important;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding:5px;
}

.veraBradle {
    
    color: #2e2e2e;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
}

.img-bag {
    width: 300px;
    height: 300px;
    
}

.align-vertical-center {    
    margin-top:2em;
    
}

.carrytheday {
    color: #2e2e2e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-right:30%;
}

.gamebegin {
    color: #2e2e2e;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 2px;
    text-align:center;
}


.img-block {
    height:312px;
}

.img-game {
    height: 408px;
    width: 620px;
}

.reg {
    color: #2e2e2e;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.subscribe1 {
    color: #f62f5e;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1.03125px;
}

.subdesc {
    color: #2e2e2e;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-right:20%;
    margin-left:20%;
}

.bgsubscribe {
    background: #efefef;
    padding:1% 0 1% 0;
    margin-top:3%;
}

.input-container {
    position:relative;
    border-radius:10px;
    
    background:white;

}

.img-email {
    background: white !important;    
    padding:0 1em 0 1em;
}

.input-field {
    border:none !important;
    border-radius:10px;
}

.footer {
    background:#ffffff;
    padding-top:3%;
}

.questions {
    color: #2e2e2e;
    font-family: "LucidaGrande-Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
}

.footer-content {
    color: #2e2e2e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.pad {
    padding:2%;
}