@{
    ViewBag.Title = "Shopmate";
    
}

<div class="graybg" >
    <img class="img-fluid w-100" src="https://a.icons8.com/PSdOYTql/c0KEuI/hero-1.png" alt="home slide" />
    <div class="pt-3"></div>

    <div class="row justify-content-center">
        <div class="fullwidth">
            <div class="row pt-3">
                <div class="col-4">
                    <div class="badgesgree">
                        <span class="salebackground" id="#sALE" style="color:#ffffff;padding:5px;">SALE</span>
                    </div>

                </div>
                <div class="col-8 align-content-center">

                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="https://a.icons8.com/PSdOYTql/f0Cev7/bitmap.png" class="img-fluid img-bag" />
                </div>
                <div class="col-8">
                    <h2 class="veraBradle align-vertical-center">Vera Bradley</h2>
                    <p class="carrytheday">Carry the day in style with the extra large tot-crafted in our chic B.B collection textured PVC. Featuring colourful faux leather trim, this tote offers a roomy interior plus just enough perfectly placed</p>
                    <img src="https://a.icons8.com/PSdOYTql/FdqUSy/buttonsmediumred.png" class="img-fluid" />
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center" style="margin-left:5%;margin-right:5%;margin-top:3%">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="https://a.icons8.com/PSdOYTql/487y6V/13-block-5.png" class="img-fluid w-100 img-block" />
            <div class="pt-1"></div>
            <img src="https://a.icons8.com/PSdOYTql/d3iFwy/13-block-6.png" class="img-fluid w-100 img-block" />
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 justify-content-center">
            <img src="https://a.icons8.com/PSdOYTql/P7EM8R/bitmap.png" class="img-fluid w-100 img-game" />
            <div class="pt-1"></div>
            <div class="justify-content-center">
                <h4 class="gamebegin">Let the Game begin</h4>
                <p class="reg"> Registration is on - get ready for the Open</p>
                <div class="pt-1"></div>
                <div class="row justify-content-center">
                    <img src="https://a.icons8.com/PSdOYTql/bbvxss/buttonsmediumwhite.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>

    <div class="bgsubscribe">
        <div class="row justify-content-center" style="margin:3%">

            <h4 class="subscribe1"> 10% discount on your subscription</h4>
            <p class="subdesc">Carry the day in style with the extra large tot-crafted in our chic B.B collection textured PVC. Featuring colourful faux leather trim, this tote offers a roomy interior plus just enough perfectly placed</p>
        </div>

        <div class="row justify-content-center">
            <div class="input-container">
                <img src="https://a.icons8.com/PSdOYTql/WZDNXL/iconsemailblack.png" class="img-fluid img-email" />
                <input class="input-field" type="email" placeholder="Your-email here" />
            </div>
            <img src="https://a.icons8.com/PSdOYTql/UQjuHA/buttonssmallwhite.png" class="img-fluid pl-1" />
        </div>
    </div>

    <div class="footer">
        <div class="row pad">
            <div class="col-3">
                <span class="questions">QUESTIONS</span><br /><br />
                <span class="footer-content">Help</span><br />
                <span class="footer-content">Track Order</span> <br />
                <span class="footer-content">Returns</span>
            </div>
            <div class="col-3">
                <span class="questions">WHATS IN STORE</span> <br /><br />
                <span class="footer-content">Women</span><br />
                <span class="footer-content">Men</span><br />
                <span class="footer-content">Product A-Z</span> <br />
                <span class="footer-content">Buy Gift Vouchers</span>
            </div>
            <div class="col-3">
                <span class="questions">FOLLOW US</span><br /><br />
                <span class="footer-content">Facebook</span><br />
                <span class="footer-content">Twitter</span><br />
                <span class="footer-content">YouTube</span><br />

            </div>
            <div class="col-3 ">
                <span class="questions">&copy; 2016 Shopmate Ltd</span>
            </div>

        </div>
    </div>
</div>